<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Pivotal Public</title>
    <link href="/css/app.css" rel="stylesheet">
    <link href="/css/select2.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1><%= @project.name %></h1>
        <p class="lead"><%= @project.description %></p>
        <p>Current Velocity: <%= @project.initial_velocity %></p>
      </div>

      <div class="row">
        <%= yield %>
      </div>
    </div>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="/js/select2.full.min.js"></script>
  <script type="text/javascript">
    $('#search_label').select2({
      placeholder: 'Please select a label to filer on'
    });

    $('#search_label').on('change', function () {
      $('#search_form').submit();
    });
  </script>
  </body>
</html>